#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    touch-action: none;
}


#levels-heading {
    display: inline;
    padding-right: 10px;
  }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 18px;
  margin: 0;
  line-height: 20px;
  padding: 20px 2px;
}

h3 {
  font-size: 14px;
  margin: 0;
  line-height: 20px;
  padding: 10px 2px;
}

a {
  color: #56B881;
  text-decoration: none;
}

a:hover {
  color: #101010;
}


#box {
    position: absolute;
    z-index: 1;
    bottom: 30px;
    right: 30px;
    font-size: 9pt;
    width: 20%;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

#box-find-path {
    margin-top: 20px;
}

#level {
    margin-top: 20px;
}

/*#path-btn {
    margin-top: 20px;
    display:block;
}
*/
.panel {
  height: 70%;
  top: 0;
  left: 0;
  /*overflow: hidden;*/
}

p {
    display:inline;
}

#box-distance {
    display:inline;
}

#box-distance-text {
    display:inline;
}

#box-building-opacity {
   /* position: absolute;
    bottom: 80px;*/
    margin-top: 5px;
}

#box-barrier-free {
    margin-top: 10px;
}


#box-info {
    margin-top: 15px;
}

#logos {
  position: absolute;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 210px;
  bottom: 20px;
}

#fel-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width:140px; 
    max-height:50px;
}

#skoda-logo {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width:140px; 
    max-height:50px;
}

#aic-logo {
    /*position: relative;*/
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width:140px; 
    max-height:50px;
}

#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

.listings {
  height: 90%;
  overflow: auto;
  padding-bottom: 60px;
}


.listings .item {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 1px;
  text-decoration: none;
}

.listings .item:last-child { border-bottom: none; }

.listings .item .title {
  display: block;
  color: #56B881;
  font-weight: 600;
   font-size: 15px;
   /*padding-bottom: -10px;*/
   margin-bottom: 2px;
}

.listings .item .title small { font-weight: 400; }

.listings .item.active .title,
.listings .item .title:hover { color: #98E4B9; }

.listings .item.active {
  background-color: #f8f8f8;
}

#box-levels-toggle {
  font-weight: 600;
}

.handicap-button {
    max-height: 20px;
    margin-top: 10px;
    border-radius: 3px;
}

.path-input {
    margin: auto;
    width: 100%;
    display: flex;
}

#info-btn {
    border: none;
    display:block;
}

.marker {
  -webkit-transition: background-image 0.25s ease-in;
  -moz-transition: background-image 0.25s ease-in;
  -ms-transition: background-image 0.25s ease-in;
  transition: background-image 0.25s ease-in;
}


@media screen and (max-width: 800px) {

}

@media screen and (max-width: 500px) {
  #sidebar { 
    box-sizing: border-box;
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    right: 0px;
    font-size: 9pt;
    /*width: 250px;*/
    overflow: hidden;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25); 

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .panel {
    width: 70%;
  }


  fieldset {
    border-width: 5px;
    color: black;
    border-radius: 5px;
  }

  fieldset > label {
    float: left;
    width: 100px;
  }

  label {
    clear: both;
    font-weight: bold;
    padding: 5px;
  }

  fieldset > input {
     max-height: 30px;
  }

  h1 {
    font-size: 15px;
    margin-top: -10px;
  }


  #box-find-path {
    margin-top: 5px;
  }

  #sidebar-heading {
    display: none;
  }

/*  #path-btn {
    display: none;
  }*/

  #logos {
    display: none;
  }
  
  #find-path-heading {
    display: none;
  }

  #levels-heading {
    font-family: 'Open Sans', sans-serif;
  }

  #box-info {
    display: none;
  }

  #box-levels {
     display: flex;
     align-items: center;
  }

  #box-levels-toggle{
    display: block;
      margin-left: 10px;
  }

  #info-small {
    margin-right: 10px;
    margin-top: 10px;
  }

  #handicap-label-small {
    text-align: center;
    margin: auto;
  }

  #options-small {
    display:flex;
    justify-content:center;
    align-items:center;
  }

  #handicap-label-small > img{
    max-width: 15px;
    margin-top: 3px;
  }

  #handicap-label {
    display: none;
  }

  .modal {
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0); /* Black w/ opacity */
    }

    .modal-content {
        background-color: rgb(255,255,255);
        width: 100%; /* Could be more or less, depending on screen size */
        opacity: 100;
        height: 50%;
        pointer-events: visible;
        overflow: auto; /* Enable scroll if needed */
        font-size: 12px;
    }

    .modal-content hr {
        margin-bottom: 12px;
    }

    .modal-header {
        padding: 2px 16px;
        margin-bottom: 10px;
        /*background-color: #3887BE;*/
        /*color: white;*/
    }

    .modal-footer {
        padding: 2px 16px;
    }

    .close {
        color: #aaa;
        /*float: right;*/
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 28px;
        font-weight: bold;
        pointer-events: visible;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .instr {
        padding-bottom: 10px;
        text-align: center;
    }

    #logo-panel-small {
        z-index: 1;
        position: absolute;
        bottom: 0px;
        left: 0px;
        right: 0px;
        height: 45px;
        width: 100%;
        background-color: rgb(255,255,255);
        border-top: 1px solid rgba(0, 0, 0, 0.25);
    }

    #map {
      bottom: 45px;
    }

    #logo-small-container {
      display:flex;
      justify-content:center;
      align-items:center;
    }

    #skoda-logo {
      position: relative;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 15px;
      max-width:100px; 
      max-height:50px;
  }

  #aic-logo {
        /*position: relative;*/
        margin-bottom: 0px;
        max-width:100px; 
        max-height:50px;
    }
}

@media screen and (min-width: 501px) {

   #logo-panel-small {
    display: none;
   }

    .modal {
        display: none; /* Hidden by default */
        z-index: 1; /* Sit on top */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0); /* Black w/ opacity */
    }

    .modal-content {
        background-color: rgba(255,255,255,0.9);
        padding: 20px;
        border: 1px solid #888;
        width: 50%; /* Could be more or less, depending on screen size */
        opacity: 100;
        height: 50%;
        margin-left: 30%;
        margin-top: 100px;
        pointer-events: visible;
        overflow: auto; /* Enable scroll if needed */
    }

    .modal-header {
        padding: 2px 16px;
        margin-bottom: 10px;
        /*background-color: #3887BE;*/
        /*color: white;*/
    }

    .modal-footer {
        padding: 2px 16px;
    }

    .close {
        color: #aaa;
        /*float: right;*/
        position: absolute;
        right: 15px;
        top: 15px;
        font-size: 28px;
        font-weight: bold;
        pointer-events: visible;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

    .instr {
        padding-bottom: 18px;
        text-align: center;
    }

   #handicap-label-small {
    display: none;
  }

  #info-small {
    display: none;
  }

  #sidebar {
      box-sizing: border-box;
      position: absolute;
      z-index: 1;
      top: 0px;
      left: 0px;
      bottom: 0px;
      font-size: 9pt;
      width: 250px;
      overflow: hidden;
      border-right: 1px solid rgba(0, 0, 0, 0.25);
  }

  #label-levels-toggle {
    display: none;
  }

/*  #sidebar-heading-small {
    display: none;
  }*/

}

@media screen and (max-height: 540px) {
  #logos {
    display: none;
  }
}
/*
@media screen and (max-height: 450px) {
  #path-btn {
    display: none;
  }
}*/

@media screen and (max-height: 370px) {
  #sidebar-heading {
    display: none;
  }
}

@media screen and (max-height: 300px) {
  #find-path-heading {
    display: none;
  }

/*  #levels-heading {
    display: none;
  }*/
}


